$font: 'IBM Plex Sans', sans-serif, 'Labrada', serif;

$main-color: #414288; //Marine blue
$second-color: #682D63; //Palatinate
$backg-color: rgba(207, 202, 202, 0.6); //Greyish background
$brdr: solid 1px rgba(167, 167, 167, 0.651); //Border grey