@media (min-width: 768px) {
    .grid-ctn-main {
      grid-template-columns: auto 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "header header"
        "nav main";
    }

    header {
        grid-area: header;
    }
      
    .main-nav {
        grid-area: nav;
        display: flex;
    }

    .nav-ctn {
        display: block;
    }

    .nav-ctn svg {
        margin: 1rem;
    }  
    
    .popup {
        margin: 4rem 0 0 47%;
        width: 35vw;
    }

    .popx {
        margin-left: 84%;
    }
      
    .svg-bell {
        margin-left: 65vw;
    }

    .bandiv {
        max-width: 95%;
    }

    .alertban {
        justify-content: space-between;
        margin-left: 1rem;
    }

    .alertx {
        margin-right: 1rem;
    }

//Charts section    
    .trf-ctn {
        display: inline-flex;
        margin-top: 0.5rem;
    }

    .trf {
        margin-top: 10px;
    }

    .chartlist {
        margin-top: 0.5rem;
        margin-left: 38vw;
    }

    .chartlist li {
        margin-right: 2vw;
    }

    .canvas-ctn-trf,
    .canvas-ctn-daily,
    .canvas-ctn-mobile {
        margin-left: 1rem;
    }

    .canvas-ctn-daily {
        margin-right: 1rem;
    }
    
    .daily-sec {
        border-right: $brdr;
        border-bottom: none;
    }

    .mobile-sec {
        border-bottom: none;
    }

    .inline-chrt-ctn {
        display: inline-flex;
    }

//Social stats section
    .social-sec {
        border-top: $brdr;
    }

    .social-div {
        display: inline-flex;
        margin-top: 0;
    }

    .social-div:nth-child(2) {
        margin-right: 0.5rem;
    }

    .social-div:nth-child(3) {
        margin: 0 0 1rem 0;
    }

    .social-div:nth-child(4) {
        margin-left: 0.5rem;
    }

//Members section
    .nm-main-div {
        display: flex;
    }   

    .nm-main-div img {
        width: 10%;
        margin: 1rem 1rem;
    }

    .nm-sec-div {
        display: block;
        width: 100%;
        margin: auto;
    }

    .name-p {
        justify-content: flex-start;
        margin-top: 1rem;
    }

    .num-p {
        justify-content: flex-end;
        margin-top: -1.5rem;
        margin-right: 1rem;
    }

    .ra-div img {
        width: 10%;
        margin: 1rem 1rem;
    }

    .ra-div {
        display: flex;
        justify-content: space-between;
    }

    .ra-content {
       margin: auto auto auto 0;
    }

    .ra-des {
        display: block;
    }

    .ra-per {
        margin-bottom: 0;
        justify-items: flex-start;
    }

    .arrow {
        display: block;
        font-size: 22px;
        margin: auto 0 auto auto;
    }

    //Message section
    .input-srch, 
    .msg-usr, 
    .btn-snd {
        max-width: 95%;
        margin: 0 2.5%;
    }

    //Settings 
    .tz-select {
        font-family: $font;
    }

    .switch-row {
        max-width: 45%;
    }
}